<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>NearMe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">

            <div class="header">
                <h1>NearMe</h1>
                <h2>Explore todays events!</h2>
            </div>

            <div class="city_selector">
                <!-- Form finds bean cityselection and will update field city based on input -->
                <form method="post" th:object="${selected_location}">
                    <label for="citySelector">Select your city:</label>
                    <select id="citySelector" th:field="*{name}">
                        <option value="" selected>--Select one--</option>
                        <option th:each="city : ${cities}" th:value="${city.name}" th:text="${city.name}"></option>
                    </select>
                    <input type="submit">
                </form>
            </div>
            <br/>
            <h2 th:text="${selected_location.name}"></h2>

            <div class="event_list">
                <table>
    <!--                <thead>
                        <tr>
                            <th>Name</th>
                            &lt;!&ndash;<th>id</th>&ndash;&gt;
                            <th>Description</th>
                        </tr>
                    </thead>-->
                    <tbody>
                        <tr th:each="event : ${events}">
                            <td><a th:href="@{/event/{id}(id=${event.id})}"><p th:text="${event.name}"></p></a></td>
                            <td><p th:text="${event.description}"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="page_navigation">

            </div>

        </div>
    </body>
</html>